{% extends '@nucleus/partials/particle.html.twig' %}

{% set start_date = particle.date.start|trim in ['now', ''] ? 'now'|date('Y') : particle.date.start|e %}
{% set end_date = particle.date.end|trim in ['now', ''] ? 'now'|date('Y') : particle.date.end|e %}

{% block particle %}
<div class="heading-xsmall">
    <a
        href="/kontakt"
        target="_blank"
        title="Kontakt"
        class="text-white"
    >Kontakt</a>
</div>
<div class="g-contact {{ particle.css.class }}">
    {% if particle.additional.text is not empty %}
        <em>{{ particle.additional.text|nl2br }}</em>
    {% endif %}<br />
    <em>&copy;
    {% if (start_date != end_date) %}{{ start_date|e }} - {% endif %}
    {{ end_date|e }}&nbsp;{% if particle.link is not empty %}<a target="{{ particle.target|default('_blank')|e }}" href="{{ particle.link|e }}" title="{{ particle.owner|e }}">{% endif %}
        {{ particle.owner|e }}
        {% if particle.link is not empty %}</a>{% endif %}</em>

</div>
{% endblock %}
