{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="">
		<div class="g-grid">
			<div class="g-block">
				<div class="g-content">
					{% if particle.linktext %}
					<a href="{{ particle.link|e }}">
						<h2 class="heading heading-large link-heading">{{ particle.linktext|e }}</h2>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="g-grid gap-2">
			{% for price in particle.prices %}
				<div {% if price.id %}id="{{ price.id|e }}"{% endif %}
					 class="g-block {{ price.class }} {{ price.variations }} g-card">
					<div class="g-content h-100 pb-2 d-flex flex-col justify-content-between">
						<header>
							{% if price.image %}<img loading="lazy" src="{{ url(price.image) }}" class="w-100" alt="{{ price.title|e }}" width="280" height="185">{% endif %}
							<h3 class="heading heading-medium word-wrap">{{ price.title|raw }}</h3>
						</header>
						<section>
							<p>{{ price.description|raw }}</p>
						</section>
						<footer>
							<div><span class="heading heading-small">ab</span> <span class="heading heading-medium">{{ price.amount|raw }} €</span></div>
							<a href="#g-contenttabs-contenttabs-3854" class="button center w-100">{{ 'Jetzt buchen'|escape }}</a>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}